/*
 This file contains all the CSS but in a production environment we would have dozens of css files (preferably using less or sass)
 */
html {
    background: #E9EEE8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
body {
    padding: 0px;
    margin: 0px;
}

.clearfix {
    clear: both;
}
a {
    text-decoration: none;
    color: #A3245B;
}

#main-body-container {
    max-width: 970px;
    margin: auto;
}

.logo-container {
    float: left;
    padding: 20px 0px 25px 0px;
}
.login-menu-container {
    float: right;
    background: white;
    border: 1px solid #E3BACA;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.login-menu-item {
    display: block;
    float: left;
    padding: 7px 0px;
}
.login-menu-item > span {
    display: inline-block;
    vertical-align: middle;
}
#login-menu-login-signup {
    padding: 7px 20px 7px 15px;
    border-right: 1px solid #E3BACA;
}
#login-menu-help {
    padding: 7px 14px 7px 13px;
}
#login-anchor-icon-container {
    padding-right: 4px;
}


.header-nav-container {
    height: 53px;
}
.header-nav-edge {
    float: left;
    height: 100%;
    width: 7px;
}
.header-nav-left {
    background: url("../img/menu-sprite.png") no-repeat 0px 0px;
}
.header-nav-right {
    background: url("../img/menu-sprite.png") no-repeat -7px 0px;
}
.header-nav-middle {
    height: 100%;
    float: left;
    width: 956px;
    background: url("../img/menu-sprite.png") repeat-x 0px -53px;
}
.header-nav-item {
    float: left;
    height: 100%;
    line-height: 53px;
    padding: 0px 14px;
}
.header-nav-item > a {
    color: #BCBCBC;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: -1px;
}
.header-nav-separator {
    float: left;
    height: 53px;
    width: 2px;
    background: url("../img/menu-sprite.png") no-repeat -14px 0px;
}
#nav {
    float: left;
}
#search-container {
    float: right;
    height: 100%;
    line-height: 53px;
    position: relative;
}
#search-box {
    border: 2px solid #422738;
    height: 29px;
    width: 200px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 2px 14px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 2px 14px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 2px 14px 0px rgba(50, 50, 50, 0.75);
    background: #FFFFFF url("../img/search-icon.png") no-repeat 9px 8px;
    padding: 0px 10px 0px 35px;
    color: #838582;
}



.search-list {
    position: absolute;
    line-height: 1.0;
    width: 380px;
    top: 53px;
    right: 0px;
    background: #F9F9F9;
    z-index: 100;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0px 4px 14px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 4px 14px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 4px 14px 0px rgba(50, 50, 50, 0.6);
    display: table;
}
.search-list-left-column {
    vertical-align: top;
    display: table-cell;
    width: 120px;
    border-right: 1px solid #E0E0E0;
    height: 100%;
    text-align: right;
    padding: 28px 9px 10px 0px;
}
.search-list-info-label {
    color: #3E3E3E;
    font-weight: bold;
    padding-bottom: 10px;
}
.search-list-right-column {
    display: table-cell;
    width: 250px;
}
.search-list-item-container {
    height: 54px;
    display: block;
}
.search-list-image {
    float: left;
    height: 54px;
    line-height: 54px;
    padding: 0px 16px;
}
.search-list-image > img {
    line-height: 1.0;
    vertical-align: middle;
}
.search-list-title {
    float: left;
    width: 180px;
    padding: 14px 0px;
}

.active-search-item {
    background: #5C0E42;
}
.active-search-item .search-list-title {
    color: #FFFFFF;
}