<div class="header-container">

    <div class="header-top-container">
        <div class="logo-container">
            <img src="img/logo.png" />
        </div>
        <div class="login-menu-container">
            <a href="javascript:void(0)" id="login-menu-login-signup" class="login-menu-item">
                <span id="login-anchor-icon-container">
                    <img src="img/login-icon.png" />
                </span>
                <span>Log in / sign up</span>
            </a>
            <a href="javascript:void(0)" id="login-menu-help" class="login-menu-item">
                <span>Help</span>
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="header-nav-container">
        <div class="header-nav-edge header-nav-left"></div>
        <div class="header-nav-middle">
            <div id="nav">
                <div class="header-nav-item">
                    <a href="/sky/homepage">HOME</a>
                </div>
                <div class="header-nav-separator"></div>
                <div class="header-nav-item">
                    <a href="javascript:void(0);">NEW RELEASES</a>
                </div>
                <div class="header-nav-separator"></div>
                <div class="header-nav-item">
                    <a href="javascript:void(0);">COLLECTIONS</a>
                </div>
                <div class="header-nav-separator"></div>
                <div class="header-nav-item">
                    <a href="javascript:void(0);">GENRES</a>
                </div>
                <div class="header-nav-separator"></div>
                <div class="header-nav-item">
                    <a href="javascript:void(0);">MOVIE CHANNELS</a>
                </div>
                <div class="header-nav-separator"></div>
                <div class="header-nav-item">
                    <a href="javascript:void(0);">NEWS</a>
                </div>
                <div class="header-nav-separator"></div>
                <div class="header-nav-item">
                    <a href="javascript:void(0);">MY MOVIES</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="search-container" ng-controller="searchController" ng-keyup="navigateList($event)">
                <div>
                    <input type="text" id="search-box" name="search-box" ng-model="searchKeyword" ng-keyup="showResults($event)" />
                </div>
                <search-list ng-if="showSearchList" total-results="totalResults" active-item="activeItem" search-list="searchList" ng-show="displaySearch"></search-list>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header-nav-edge header-nav-right"></div>
        <div class="clearfix"></div>
    </div>

</div>