<div class="search-list">
    <div class="search-list-left-column">
        <div class="search-list-info-label">MOVIES</div>
        <div>
            <a href="all-movies">VIEW ALL ({{totalResults}})</a>
        </div>
    </div>
    <div class="search-list-right-column">

        <a ng-href="/sky/movie/{{item.slug}}" class="search-list-item-container {{activeItem==$index && 'active-search-item' || ''}}" ng-repeat="item in searchList" ng-mouseenter="setActiveItem($index)">
            <div class="search-list-image">
                <img ng-src="/sky/img/{{item.thumbnail}}" />
            </div>
            <div class="search-list-title">
                {{item.title}}
            </div>
            <div class="clear"></div>
        </a>

    </div>
    <div class="clearfix"></div>
</div>